h1 {
    color: rgba(12, 18, 105, 0.76);
}

* {
    border: solid;
    border-color:rgb(126, 4, 4);
} *

.header{
    background-color: rgb(138, 3, 3);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: row;
    justify-content: fourth baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-start;
}

p,h2{
    text-align: match-parent;
}